.reveal {
    font-family: 'Fira Sans', sans-serif;
}

.reveal pre, .reveal code {
    font-family: 'Fira Code', monospace;
}

pre.inline-code {
    width: auto;
    display: inline-block;
    vertical-align: baseline;
    margin: 0 .5em;
    transform: translateY(7px);
}

pre.inline-code > code {
    padding: .2em .5em;
    margin: 0;
}

#webapps-3 .example {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
}

#webapps-3 .example > div {
    width: calc(50% - 30px);
    border-radius: 5px;
    border: 1px solid #FFF;
    margin: 10px;
    position: relative;
}

#webapps-3 .example .list {
    overflow: hidden;
}

#webapps-3 .example .list .list-el {
    margin: 10px;
    width: 80%;
    height: 16%;
    border: 1px solid #FFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#webapps-3 .example .list .list-el-pic {
    height: 60%;
    border: 1px solid #FFF;
    width: 8%;
    border-radius: 4px;
    margin-left: 10px;
    background-color: #FFF;
    opacity: .4;
}

#webapps-3 .example .view {
    display: flex;
    justify-content: center;
    align-items: center;
}

#webapps-3 .example .edit {
    display: flex;
    justify-content: center;
    align-items: center;
}

#webapps-3 .example .other {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-arrow-right {
    position: absolute;
    left: -25px;
}

.view-arrow-down {
    position: absolute;
    top: -30px;
}

.reload-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#redux-3 .example {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

#redux-3 .store-repr {
    position: relative;
    margin-top: 10px;
    border: 1px solid #FFF;
    border-radius: 5px;
    height: 50%;
    width: 100%;
}

.repr-arrow {
    position: absolute;
    top: -50px;
}

#redux-3 .todos {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

#redux-3 .todo {
    width: 60%;
    border: 1px solid #FFF;
    border-radius: 4px;
    height: 20%;
    margin: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#redux-3 .todo i {
    font-size: 30px;
}
